@import "~slick-carousel/slick/slick.css"; 
@import "~slick-carousel/slick/slick-theme.css";

.slide {
    transform: scale(0.1);
    transition: transform 300ms;
    opacity: 0.5;
}

.active {
    transform: scale(1);
    opacity: 1;
}